*{margin: 0;padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  outline: none;border: none;
  text-decoration: none;
  /* text-transform: capitalize; */
  /* transition: 2s linear; */

}
html,body,#root{
  height :100%;
  /* background: #ead3b3; */
  background:#e0dffd;
  text-align: center;
  font-size: 65%;
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
  overflow-x: hidden;
  
}
a{
  color: #361005;
}

.Box{
  font-size: 1.5rem;
  padding: 2.5rem;
  border-radius: 5rem;
  box-shadow: 5px 5px 10px;
  position: relative;
  overflow: hidden;
  margin: 10px;
  width: 400px;
  display: inline-flex;
  text-align: left;
  justify-content: space-between;
}
.AboutBox{
  font-size: 2rem;
  text-align: center;
  justify-content: space-around;
  color: #f9d0c3;
  background-color: #FD974F;
  color: #361005;
}
.navbar-link-company,
.navbar-link-customer{
  font-size: 2.5rem;
}
.Form {
  width: 350px;
  padding: 40px;
  display: inline-flex;
  flex-direction: column;
  /* top:50%; */
  /* left: 50%; */
  /* transform: translate(-50%,-50%); */
  background:#FD974F ;
  text-align: center;
  border-radius: 35px;
}
.Form h2{
  text-transform: uppercase;
  font-weight: 500;
  color: #361005;
  font-size: 3.5rem;
  padding-bottom: 1.5rem;

}
.Form input{
  background-color: rgb(232, 240, 254);
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #75706d ;
  padding: 14px 10px;
  width: 200px;
  outline: none;
  border-radius: 24px;
  color: #361005;
}
.Form label {
  font-size: 1.5rem;
}
.Form span {
  font-size: 1.2rem;
  color: #7768c6;

}
.BigForm{
  text-align: center;
  display: inline-flex;
  width: 500px;
  flex-direction: column;
  background-color: #FD974F;
  /* padding: 30px;*/
  border-radius: 50px; 


}
.BigForm  h2{
  text-transform: uppercase;
  font-weight: 500;
  color: #361005;
  font-size: 3.5rem;
  padding-bottom: 1.5rem;

}
 .BigForm input , .selectCategory{
  background-color: rgb(232, 240, 254);
  display: block;
  ;margin: 20px auto;
  text-align: center;
  border: 2px solid #75706d ;
  padding: 14px 10px;
  width: 200px;
  border-radius: 24px;
  color: #361005;
}
 .BigForm label {
  font-size: 1.5rem;
}
.BigForm span {
  font-size: 1rem;
  color: #7768c6;

}
.BigForm button{
  width: 220px;
  padding: 15px 10px;
  margin: 50px auto;
  background-color: #7768c6;
  color: #f9d0c3;
  text-transform: uppercase;
  font-size: 1.6rem;
 }
 
 button{
  border: 0;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #75706d ;
  padding: 14px 40px;
  outline: none;
  border-radius: 24px;
}
 .selectCategory {
  background-color: rgb(232, 240, 254);
  display: block;
  margin: 10px auto;
  text-align: center;
  border: 2px solid #75706d ;
  padding: 10px 5px;
  width: 150px;
  outline: none;
  border-radius: 24px;
  color: #361005;
}
.coupon>  .up{
  display: flex;
  padding: 2.5rem;
  justify-content: space-around;
  align-items: center;
  
}
 .coupon button{
  margin: 10px auto;
  padding: 10px 5px;
  width: 100px;
 }
 .coupon label{
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  color: #361005;
 }
 .coupon h2{
  font-size: 2rem;
  text-transform: uppercase;
  color: #361005;


 }
 .navbar-link {
   font-size: 2.5rem;
   margin: 10px;

 }
 .AuthMenu {
  display: flex;
  justify-content: flex-end;

}
.notyf__toast {
  margin: 20px ;
  font-size:1.3rem; 
  padding: 14px 10px;
  width: 200px;
  border-radius: 24px;
  text-align: center;
  display: flex;

  align-items: center;
  justify-content: center;
}
.h1{
  text-transform: uppercase;
  font-weight: 500;
  color: #361005;
  font-size:1.9rem;
  padding-bottom: 1.5rem;
}



 



